<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title text-center">Filter Links</h3>
      </div>

      <div class="panel-body">
        <div class="form-group">
          <label for="link-text-filter">Filter by Link Text</label>
          <input type="text" class="form-control" id="link-text-filter" placeholder="Text">
        </div>
      </div>
    </div>
  </div>
</div>
